body{
    margin:0;
    padding:0;
}

.start{
    background:url("musician.jpg") no-repeat;
    background-size:cover;
    background-position : center center;
    width:100vw;
    height:100vh;
}

#start-contents{
    margin:0;
    position:absolute;
    width:100%;
    top:50%;
    transform: translateY(-50%);
    text-align:center;

}
.start-text{
    color:rgb(245, 249, 255);
    font-size:45px;
    font-family: 'Single Day', cursive;
}
.startbutton{
    margin:0;
    border-radius:12px;
    width:180px;
    height:70px;
    background-color:white;
    border: 5px solid rgb(209, 116, 252);
    font-size:28px;
    font-weight:bold;
    color:rgb(151, 3, 219);
    cursor:pointer;
    transition:all 0.5s;    
}
.startbutton:hover{
    background-color: rgb(248, 205, 237);
    
}

.progress{
    text-align:center;
    width:80%;
    margin-top:16%;
    margin-left:auto;
    margin-right:auto;
}
.question{
    margin-top:1%;
     /* background-image:url('questback.jpg'); */
    background-size:cover;
    background-position : center center;
    background-repeat: no-repeat, repeat;
    width:400px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid white;
    box-shadow: 10px 10px 20px 0 rgba(250, 90, 223, 0.1);
}
.question-text{
    color:rgb(221, 250, 92);
    margin-top:15%;
    text-align:center;
    font-size:45px;
    font-family: 'Single Day', cursive;
}

.questionbutton{
    text-align:center;
    display:flex;
    flex-direction: column;
}

.button1{
    font-family: 'Cute Font', cursive;
    font-size:25px;
    width : 310px;
    height: 85px;
    margin-top:15%;
    margin-left:auto;
    margin-right:auto;
    color:rgb(40, 33, 143);
    background-color:rgb(253, 251, 222);
    border: 1px solid #ebebeb;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
.button2{
    font-family: 'Cute Font', cursive;
    font-size:25px;
    width : 310px;
    height: 85px;
    margin-top:14%;
    margin-left:auto;
    margin-right:auto;
    color:rgb(221, 126, 126);
    background-color:rgb(213, 255, 208);
    border: 1px solid #ebebeb;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.loading{
    margin:0;
    display:flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items : center;
    height: 100vh;
}
.loadingtext{
    font-family: 'Single Day', cursive;
    margin-top:8%;
    color: rgb(217, 97, 253);
    font-size:60px;
}
.note{
    text-align:center;    
    font-size:120px;
    color:rgb(141, 187, 4);
    position:relative;
}
.note::before{
    content: attr(data-text);
    color: rgb(255, 255, 119);
    position:absolute;
    left:0; z-index: 2;
    overflow:hidden;
    width:100%;
    animation: loading 1.5s ease infinite;
}
.note::after{
    content: "";
    width:100px;
    height: 3px;
    background:rgb(255, 255, 153);
    position:absolute;
    left: 0; bottom: -10px;
    animation: loadingLine 1.5s ease infinite;
}

@keyframes loading {
    from {width: 0%;}
    to {width: 100%;}
}

@keyframes loadingLine {
    from {width: 0%;}
    to {width: 100%;}
}


.result{
    text-align:center;
}

.result audio{
    font-size:small;
}

.result img{

}

.explain{
    font-size:50px;
}








@media screen and (max-width: 768px) {
    html, body{
        margin:0;
        padding:0;
    }
    
    .start{
        background:url("musician.jpg") no-repeat;
        background-size:cover;
        background-position : center center;
        width:100vw;
        height:100vh;
    }
    
    #start-contents{
        font-size:40px;
        position:absolute;
        width:100%;
        top:50%;
        transform: translateY(-50%);
        color:white;
        text-align:center;
    }
    .start-text{
        color:rgb(245, 249, 255);
        font-size:45px;
        font-family: 'Single Day', cursive;
    }
    
    .startbutton{
        border-radius:5px;
        width:180px;
        height:70px;
        background-color:white;
        border: 5px solid rgb(209, 116, 252);
        font-size:28px;
        font-weight:bold;
        color:rgb(151, 3, 219);
        cursor:pointer;
        transition: all 0.5s;    
    }
    .startbutton:hover{
        background-color: rgb(248, 205, 237);
    }
}

.progress{
    text-align:center;
    width:80%;
    margin-top:16%;
    margin-left:auto;
    margin-right:auto;
}
.question{
    margin-top:1%;
    background-color:rgb(248, 243, 225);
    /* background-image:url('questback.jpg'); */
    background-size:cover;
    background-position : center center;
    background-repeat: no-repeat, repeat;
    width:500px;
    height:900px;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid white;
    box-shadow: 10px 10px 20px 0 rgba(250, 90, 223, 0.1);
}
.question-text{
    color:rgb(221, 250, 92);
    margin-top:15%;
    text-align:center;
    font-size:45px;
    font-family: 'Single Day', cursive;
}

.questionbutton{
    text-align:center;
    display:flex;
    flex-direction: column;
}

.button1{
    font-family: 'Cute Font', cursive;
    font-size:25px;
    width : 260px;
    height: 55px;
    margin-top:15%;
    margin-left:auto;
    margin-right:auto;
    color:rgb(40, 33, 143);
    background-color:rgb(253, 251, 222);
    border: 1px solid #ebebeb;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
.button2{
    font-family: 'Cute Font', cursive;
    font-size:25px;
    width : 260px;
    height: 55px;
    margin-top:14%;
    margin-left:auto;
    margin-right:auto;
    color:rgb(221, 126, 126);
    background-color:rgb(213, 255, 208);
    border: 1px solid #ebebeb;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.loading{
    margin:0;
    display:flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items : center;
    height: 100vh;
}
.loadingtext{
    font-family: 'Single Day', cursive;
    margin-top:8%;
    color: rgb(217, 97, 253);
    font-size:60px;
}
.note{
    text-align:center;    
    font-size:120px;
    color:rgb(141, 187, 4);
    position:relative;
}
.note::before{
    content: attr(data-text);
    color: rgb(255, 255, 119);
    position:absolute;
    left:0; z-index: 2;
    overflow:hidden;
    width:100%;
    animation: loading 1.5s ease infinite;
}
.note::after{
    content: "";
    width:100px;
    height: 3px;
    background:rgb(255, 255, 153);
    position:absolute;
    left: 0; bottom: -10px;
    animation: loadingLine 1.5s ease infinite;
}

@keyframes loading {
    from {width: 0%;}
    to {width: 100%;}
}

@keyframes loadingLine {
    from {width: 0%;}
    to {width: 100%;}
}


.result{
    text-align:center;
}

.result audio{
    font-size:small;
}

.result img{

}

.explain{
    font-size:50px;
}


