html, body{
    margin:0;
    padding:0;
}

.start{
    background:url("sample.jpg") no-repeat;
    background-size:cover;
    background-position : center center;
    width:100vw;
    height:100vh;
}

#start-contents{
    margin:0;
    position:absolute;
    width:100%;
    top:50%;
    transform: translateY(-50%);
    text-align:center;

}
.start-text{
    color:rgb(245, 249, 255);
    font-size:40px;
    font-family: 'Single Day', cursive;
    
}
.startbutton{
    margin:0;
    border-radius:12px;
    width:180px;
    height:70px;
    background-color:white;
    border: 5px solid rgb(209, 116, 252);
    font-size:28px;
    font-weight:bold;
    color:rgb(151, 3, 219);
    cursor:pointer;
    transition:all 0.5s;    
}
.startbutton:hover{
    background-color: rgb(248, 205, 237);
    
}
@media(max-width:769px){
    #start-contents{
        font-size:40px;
        position:absolute;
        width:100%;
        top:50%;
        transform: translateY(-50%);
        color:white;
        text-align:center;
    }
    
    .startbutton{
        border-radius:5px;
        width:110px;
        height:40px;
        background-color:white;
        border: 5px solid rgb(209, 116, 252);
        font-size:11px;
        font-weight:bold;
        color:rgb(151, 3, 219);
        cursor:pointer;
        transition: all 0.5s;    
    }
    .startbutton:hover{
        background-color: rgb(248, 205, 237);
    }
}
.progress{
    text-align:center;
    width:80%;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
}
.question{
    margin-top:1%;
    background-color: white;
    width:900px;
    height:120vh;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid white;
    box-shadow: 10px 10px 20px 0 rgba(250, 90, 223, 0.1);
}
.question-text{
    margin-top:3%;
    text-align:center;
    font-size:45px;
    font-family: 'Single Day', cursive;
}

.questionbutton{
    text-align:center;
    display:flex;
    flex-direction: column;
}

.button1{
    font-family: 'Cute Font', cursive;
    font-size:25px;
    width : 800px;
    height: 85px;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    color:rgb(40, 33, 143);
    background-color:rgb(253, 251, 222);
    border: 1px solid #ebebeb;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
.button2{
    font-family: 'Cute Font', cursive;
    font-size:25px;
    width : 800px;
    height: 85px;
    margin-top:4%;
    margin-left:auto;
    margin-right:auto;
    color:rgb(221, 126, 126);
    background-color:rgb(213, 255, 208);
    border: 1px solid #ebebeb;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}